@import "../utilities/_variables";

.children-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  grid-template-rows: repeat(3, 1fr);
  margin-left: 12%;
}

.search-bar input {
  margin-left: 34%;
  width: 30%;
  height: 30px;
  font-size: 1.3em;
  margin-bottom: 7%;
  margin-top: 6%;
  outline: none;
  text-align: center;
  border: 1px solid rgb(68, 67, 67);

  &:focus {
    -webkit-box-shadow: 6px 6px 24px 1px $button-color-hover-opacity;
    -moz-box-shadow: 6px 6px 24px 1px $button-color-hover-opacity;
    box-shadow: 6px 6px 24px 1px $button-color-hover-opacity;
  }
}

@media (max-width: 768px) {
  .children-list {
    margin-left: 25%;
  }
  .search-bar input {
    height: 25px;
    margin-top: 10.5%;
  }
}

@media (max-width: 414px) {
  .children-list {
    margin-left: 15%;
  }
  .search-bar input {
    width: 50%;
    height: 18px;
    margin-left: 25%;
    font-size: 1.1em;
    margin-top: 18%;
  }
}

@media (max-width: 375px) {
  .children-list {
    margin-left: 10%;
  }
}

@media (max-width: 320px) {
  .search-bar input {
    margin-left: 25%;
    height: 16px;
    font-size: 0.9em;
  }
  .children-list {
    margin-left: 4%;
  }
}
