$button-color-hover: rgb(250, 127, 250);
$label-color: rgb(80, 78, 78);
$form-background-color: rgb(32, 221, 158);
$navbar-button-color: rgb(231, 56, 231);
$button-color-hover-opacity: rgba(247, 171, 247, 0.829);
