@import "../../utilities/variables";

@mixin navbarMixin() {
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  a {
    text-decoration: none;
  }

  h2 {
    color: $navbar-button-color;
    margin-left: 30px;
    text-decoration: none;
    &:hover {
      color: $button-color-hover;
      transform: scale(1.05);
      transition: all 0.4s ease-in;
    }
  }

  span {
    grid-column: 12/13;
    height: 25px;
    width: 100px;
    margin: 20px;

    .menu-icon {
      display: none;
    }
  }

  button {
    padding: 5px;
    font-size: 1.1em;
    background-color: transparent;
    color: $navbar-button-color;
    border: none;

    &:hover {
      cursor: pointer;
      color: $button-color-hover;
      transform: scale(1.1);
      transition: all 0.3s ease-in;
    }
  }

  .create-button {
    grid-column: 11/12;
    @extend span;
    button {
      @extend button;
    }
  }

  .dashboard-button {
    @extend .create-button;
  }

  .parent-dashboard {
    @extend .create-button;
  }

  .dashboard-button-edit-form {
    grid-column: 10/11;
    @extend .create-button;
  }
}

.navbar-scroll {
  @include navbarMixin();
  background: $navbar-button-color;
  transition: background 0.8s linear;
  h2 {
    color: white;
    &:hover {
      color: lightgray;
    }
  }
  button {
    color: white;
    &:hover {
      color: lightgray;
    }
  }
}

.navbar {
  @include navbarMixin();
  background: #a8ff78;
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  background: linear-gradient(to right, #78ffd6, #a8ff78);
}

.navbar-search-input {
  position: absolute;
  top: 35%;
  right: 20%;

  .search-input {
    height: 18px;
    font-size: 1em;

    &:focus {
      outline: none;
      border: 2px solid #a8ff78;
      box-shadow: 0 0 6px #a8ff78;
    }
  }

  .search-input-icon {
    top: -57%;
    right: -55%;
    font-size: 14px;
  }
}

@mixin mediaQuery {
  height: 50px;
  h2 {
    font-size: 16px;
  }
  button {
    font-size: 12px;
    float: right;
    display: none;
  }
  span {
    .menu-icon {
      display: inline-block;
      margin: -10px;
    }
  }
  .create-button {
    font-size: 12px;
    display: none;
  }
  .dashboard-button {
    font-size: 12px;
    display: none;
  }
  .dashboard-button-edit-form {
    font-size: 12px;
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-search-input {
    right: 40%;
  }
}

@media (max-width: 414px) {
  .navbar {
    @include mediaQuery();
  }

  .navbar-scroll {
    @include mediaQuery();
  }

  .navbar-search-input {
    display: none;
  }
}

@media (max-width: 375px) {
  .navbar {
    button {
      margin-right: 10%;
    }
  }
  .navbar-scroll {
    button {
      margin-right: 10%;
    }
  }
}
