.child-card {
  -webkit-box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
  -moz-box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
  box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
  margin: 10px;
  padding: 5px;
  width: 350px;
  height: 500px;
  overflow: hidden;
  text-align: center;

  &:hover {
    background-color: rgba(153, 252, 215, 0.35);
    transition: all 0.3s ease-in;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  button:nth-child(odd) {
    margin: 10px;
    padding: 2px 20px;
    border-radius: 25px;

    &:hover {
      background-color: orange;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  }

  button:nth-child(even) {
    margin: 10px;
    padding: 2px 20px;
    border-radius: 25px;

    &:hover {
      background-color: rgb(248, 44, 44);
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  }
}

.child-card #make_payment:hover {
  background-color: rgb(41, 125, 237);
  color: white;
  transition: all 0.3s ease-in;
}

@media (max-width: 414px) {
  .child-card {
    width: 275px;
    height: 400px;

    img {
      width: 160px;
      height: 160px;
    }
  }
}
