@import "../utilities/variables";

@mixin buttons {
  width: 50%;
  height: 10%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

$secondary-color: white;

.create-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  form {
    -webkit-box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
    -moz-box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
    box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
    background-color: $form-background-color;
    grid-column: 5/9;
    grid-row: 2/6;
    text-align: center;
    font-size: 1.8em;
    margin: 10px;
    padding: 10px;

    label,
    input {
      margin-top: 5px;
      padding: 5px;
      height: 15px;
    }

    label:last-of-type {
      margin-right: 40px;
    }
    select {
      margin-left: 10px;
      width: 45%;
    }

    input[type="text"],
    input[type="number"] {
      width: 50%;
      font-size: 0.8em;
      outline: none;
      float: right;
      margin-right: 20px;
    }
    label {
      color: $label-color;
    }
    input[type="submit"] {
      @include buttons();

      &:hover {
        cursor: pointer;
        background-color: $button-color-hover;
        transition: all 0.4s ease-in;
        color: $secondary-color;
      }
    }
    .cancel-button {
      @include buttons();
      &:hover {
        cursor: pointer;
        background-color: rgb(250, 66, 66);
        transition: all 0.4s ease-in;
        color: $secondary-color;
      }
    }
  }
}

@media (max-width: 1024px) {
  .create-form {
    form {
      grid-column: 4/10;
    }
  }
}

@media (max-width: 414px) {
  .create-form {
    form {
      grid-column: 3/11;
      font-size: 1em;

      input {
        height: 8px;
        margin-top: 3px;
      }

      input[type="submit"] {
        font-size: 12px;
      }

      .cancel-button {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 375px) {
  .create-form {
    form {
      grid-column: 2/12;
      font-size: 0.8em;

      input {
        height: 6px;
        margin-top: 5px;
      }
      input[type="submit"] {
        font-size: 10px;
      }

      .cancel-button {
        font-size: 10px;
      }
    }
  }
}
