.create-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.create-form form {
  -webkit-box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
  -moz-box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
  box-shadow: 10px 10px 29px 1px rgba(140, 137, 140, 1);
  background-color: rgb(32, 221, 158);
  grid-column: 5/9;
  grid-row: 1/5;
  text-align: center;
  font-size: 1.8em;
  margin: 10px;
  padding: 10px;
}

.create-form form label,
.create-form form input {
  margin-top: 5px;
  padding: 5px;
  height: 15px;
}

.create-form form {
  label:last-of-type {
    margin-right: 40px;
  }
  select {
    margin-left: 10px;
    width: 45%;
  }
}
.create-form form input[type="text"],
.create-form form input[type="number"] {
  //   margin-left: 5px;
  width: 50%;
  font-size: 0.8em;
  outline: none;
  float: right;
  margin-right: 20px;
}

.create-form form label {
  color: rgb(80, 78, 78);
}

.create-form form input[type="submit"] {
  width: 50%;
  height: 10%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.create-form form input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(209, 208, 208);
}

#button-create {
  margin-left: 50px;
  margin-top: 115px;
  padding: 9px;
  border-radius: 25px;
  font-size: 1.04em;
  background-color: rgb(41, 125, 237);
  color: white;
  outline: none;
}

#button-create:hover {
  cursor: pointer;
  background-color: rgb(83, 152, 241);
}
