/* .image-slider {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
} */

.carousel.carousel-slider {
  height: 700px;
}

.carousel .slide img {
  margin-top: 4.8%;
  height: 700px;
}

.carousel .thumbs {
  margin-left: 33%;
}
