.navbar {
  position: fixed;
  width: 100%;
  opacity: 0.9;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12, 1fr); */
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  grid-column: 1/2;
  margin: 5px 0px 5px 30px;
}

.navbar span {
  grid-column: 12/13;
  height: 25px;
  width: 100px;
  margin: 20px;
  border-radius: 25px;
  outline: none;
}

.navbar button {
  padding: 5px;
  font-size: 1.1em;
  outline: none;
  border-radius: 15px;
}

.navbar button:hover {
  cursor: pointer;
  background-color: rgb(153, 150, 150);
  color: #a8ff78;
  transition: all 0.4s ease-in;
}
